<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xrq.tv">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="true" />

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:banner="@drawable/logo"
        android:icon="@drawable/logo"
        tools:replace="android:icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activity.TestActivity"
            android:screenOrientation="landscape"></activity>
        <!-- 主页 -->
        <activity
            android:name=".view.activity.MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="landscape"/> <!-- 启动页 -->
        <activity
            android:name=".view.activity.StartActivity"
            android:icon="@drawable/logo"
            android:label="@string/app_name"
            android:logo="@drawable/logo"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 设置页 -->
        <activity
            android:name=".view.activity.SettingActivity"
            android:screenOrientation="landscape" /> <!-- 设置文件路径页 -->
        <activity
            android:name=".view.activity.SettingFolderActivity"
            android:screenOrientation="landscape" /> <!-- 文件页 -->
        <activity
            android:name=".view.activity.ChooseFolderActivity"
            android:screenOrientation="landscape" />

        <receiver android:name=".reciver.USBMTPReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_EJECT" />
                <action android:name="android.intent.action.MEDIA_REMOVED" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>
    </application>

</manifest>